<% provide(:title, "ログイン") %>

<div class="container user-form">
  <h2 class="mt-3 pb-3">ログイン</h2>

    <%= form_with scope: :session, url: login_path, local: true do |f| %>
      <%= render "shared/error" %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: "form-controll" %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>ログイン情報を記憶させる</span>
      <% end %>

      <div class="login-btn">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>

  <p><%= link_to "ゲストログイン", guest_path, method: :post, class:"btn btn-warning" %></p>
  <p><%= link_to "新規登録", signup_path, class:"btn btn-success" %></p>
</div>