<%= render "shared/error_messages" %>
<div class="body">
  <div class="row mt-5">
    <div class="col-md-8 mx-auto offset-3">
    <h2>コンテスト作成</h2>
    
      <%= form_with model: contest do |f| %>
        <%= f.label :title, "コンテスト名" %>
        <%= f.text_field :title, class: "form-control" %>  
        
        <%= f.label :main, "コンテスト内容" %>
        <%= f.text_area :main, class: "form-control", rows: 12 %>
        
        <%= f.label :condition, "応募要項" %>
        <%= f.text_area :condition, class: "form-control", rows: 12 %>

        <%= f.label :image, "コンテストページの写真をアップロードしてください" %>
        <%= f.file_field :image, accept: "image/jpg,image/jpeg,image/gif,image/png", class: "image" %>

        <h3>コンテスト結果</h3>

        <%= f.label :gold_title, "金賞タイトル" %>
        <%= f.text_field :gold_title, class: "form-control" %> 

        <%= f.label :gold_explanation, "金賞の説明" %>
        <%= f.text_area :gold_explanation, class: "form-control", rows: 5 %> 

        <%= f.label :gold_prize, "金賞写真" %>
        <%= f.file_field :gold_prize, accept: "image/jpg,image/jpeg,image/gif,image/png", class: "image" %> 

        <%= f.label :silver_title, "銀賞タイトル" %>
        <%= f.text_field :silver_title, class: "form-control" %> 

        <%= f.label :silver_explanation, "銀賞の説明" %>
        <%= f.text_area :silver_explanation, class: "form-control", rows: 5 %> 

        <%= f.label :silver_prize, "銀賞写真" %>
        <%= f.file_field :silver_prize, accept: "image/jpg,image/jpeg,image/gif,image/png", class: "image" %> 

        <%= f.label :win_title, "入賞タイトル" %>
        <%= f.text_field :win_title, class: "form-control" %> 

        <%= f.label :win_explanation, "入賞の説明" %>
        <%= f.text_area :win_explanation, class: "form-control", rows: 5 %> 

        <%= f.label :win_a_prize, "入賞写真" %>
        <%= f.file_field :win_a_prize, accept: "image/jpg,image/jpeg,image/gif,image/png", class: "image" %> 

        <%= f.submit "作成する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
