<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="low">
  <div class="col-md-6 mx-auto text-center">
   
    <div class="form-inline">
      <span class="mt-4 mx-auto">
        <%= link_to user_path(visitor) do %>
          <%= visitor.name %>
          <%= 'さんが' %>
        <% end %>

        <% if notification.action == 'follow' %>
          <%= "あなたをフォローしました" %>
        <% elsif notification.action == 'like' %>
          <%= link_to 'あなたの投稿', notification.post, style: "font-weight: bold;" %>
          <%= "にいいねしました" %>
        <% elsif notification.action == 'comment' %>
          <% if notification.post.user_id == visited.id %>
            <%= link_to "あなたの投稿", notification.post, style: "font-weight: bold;" %>
            <%= "にコメントしました" %>
          <% else %>
            <span>
              <%= link_to post_path(notification.post) do %>
                <strong>
                  <%= notification.post.user.name + 'さんの投稿' %>
                </strong>
              <% end %>
            </span>
            <%= "にコメントしました" %>
            <P class="text-muted mb-0">
              <%= Comment.find_by(id: notification.comment_id)&.comment %>
            </p>
          <% end %>
        <% end %>

        <div class="small text-muted text-right">
          <%= time_ago_in_words(notification.created_at).upcase %>
        </div>
      </span>
    </div>
  </div>
</div>