<% provide(:title, "ユーザー登録") %>

<div class="body">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h2 class="mt-4 mb-4">新規ユーザー登録</h2> 
    
      <%= form_with model: @user, local: true do |f| %>
        <%= render "shared/error_messages", object: f.object %>

        <%= f.label :name, "ユーザー名（10文字以内）" %>
        <%= f.text_field :name, class: "form-control", autocomplete: "name", required: "required" %>  
        
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: 'form-control', autocomplete: 'email', required: 'required' %>
        
        <%= f.label :password, "パスワード（8文字以上）" %>
        <%= f.password_field :password, class: 'form-control', autocomplete: 'password', required: 'required' %>
        
        <%= f.label :password_confirmation, "確認用パスワード" %>
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'password', required: 'required' %>

        <%= f.submit "ユーザー登録", class: "btn btn-dark" %>
      <% end %>
      <p><%= link_to "ログイン", login_path, class:"btn btn-success" %></p>
    </div>
  </div>
</div>