<% provide(:title, 'マイページ') %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="best_photo">
        <h5>ベストフォト</h4>
        <%= link_to image_tag(@post.image.url), @post if @post.image? %>
      </div>
      <div class="posts_index">
        <% if @user.posts.any? %>
          <div class="posts pt-5">
            <%= render @posts %>
          </div>
            <%= paginate @posts %>
        <% end %>
      </div>
    </div>

    <div class="card mx-auto col-md-3">
      <div class="card-body mx-auto">
        <div class="user_info">
          <% if @user.avatar? %>
            <%= image_tag(@user.avatar.url, size: '150x150', class: 'avatar_present_img rounded-circle z-depth-0 avatar-image', alt: 'avatar image') %>
          <% else %>
            <%= image_tag("no-avatar.png", size: "150x150", class: "avatar_present_img rounded-circle z-depth-0 avatar-image", alt: "avatar image") %>
          <% end %>    
        </div>
        <div class="d-flex flex-column mt-3">
          <div class="user-name mx-auto">
            <div class="font-weight-bold pb-2">
              <%= @user.name %>
            </div>
          </div>

          <div class="user-menu mx-auto pb-2">
            <% if logged_in? %>
              <% if current_user.admin? %>
                <% if @user.admin? || @user.guest? %>
                  <!-- なにも表示しない -->
                <% else %>
                  <%= link_to 'このユーザーを削除する', @user, method: :delete, data: { confirm: 'このユーザーを削除しますか？' }, class:'btn btn-outline-dark' %>
                <% end %>
              <% else %>
                <% if current_user.id == @user.id %>
                  <%= link_to 'プロフィール編集', edit_user_path(current_user), class:'btn btn-outline-dark' %>
                <% else %>
                  <%= render 'follow_form'%>
                <% end %>
              <% end %>
            <% end %>
          </div>
        

          <div class="user-status mx-auto mt-3">
            <span class="status-value"><%= "投稿#{@user.posts.count.to_s(:delimited)}件" %></span>
          </div>
          <div class="user-status mx-auto mt-2">
            <span class="status-value"><%= link_to "フォロワー#{@user.followers.count.to_s(:delimited)}人", followers_user_path %></span>
            <span class="status-value"><%= link_to "フォロー#{@user.following.count.to_s(:delimited)}人", following_user_path %></span>
          </div>

          <div class="user-profile mx-auto mt-3" style="max-width: 400px; max-height: 140px; overflow: hidden;">
            <%= simple_format(@user.profile) %>
          </div>

          <div class="row mx-auto">
            <%= link_to "保存した写真", favorite_user_path, class: "btn btn-lg btn-dark" %>
          </div>

          <div class="row mx-auto">
            <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-dark" %>
            <%= link_to "新規投稿", new_post_path, class: "btn btn-lg btn-dark" %>
          </div>
        </div> 

      </div>    
    </div>
    
  </div> 
</div>

