  <%= form_with model: post do |f| %>
    <div class="form-group row col-md-8 mx-auto mt-2">
      <%= f.file_field :image, accept: "image/jpg,image/jpeg,image/gif,image/png", class:"custom-file-input" %>

      <div class="add_image text-center mb-4" id="img_field" onClick="$('#post_image').click()"> 
        <% if post.image.url.present? %>
          <%= image_tag(post.image.url) %>
        <% else %>
          <i class="far fa-caret-square-down"><p class="">投稿する写真を選んでください</p></i>
        <% end %>
      </div>

      <%= f.label :location, '撮影場所' %>
      <%= f.text_field :location, class: "form-control", rows: 2, placeholder: "場所、地名、住所" %> 

      <%= f.label :equipment, '機材' %>
      <%= f.text_field :equipment, class: "form-control", rows: 2, placeholder: "カメラ・レンズメーカー、モデル名など" %>
      
      <%= f.label :caption, 'キャプション' %>
      <%= f.text_area :caption, class: 'form-control', rows: 12, placeholder: 'この写真についてのストーリーを入力（1000文字以内）' %>
      
      <div class="justify-content-center col-lg-4 col-md-6 mx-auto mt-3 mb-3">
        <%= f.submit "写真を投稿する", class: "btn btn-lg btn-dark form-control" %>
      </div>
    </div>
  <% end %>

  <script type="text/javascript">
  $('#post_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 15) {
      alert('ファイルサイズは15MB以下にしてください。');
    }
  });

  // 画像プレビューを表示
  $(function(){
    $fileField = $('#post_image')
    $($fileField).on('change', $fileField, function(e) {
      file = e.target.files[0]
      reader = new FileReader(),
      $preview = $("#img_field");

      reader.onload = (function(file) {
        return function(e) {
          $preview.empty();
          $preview.append($('<img>').attr({
            src: e.target.result,
            class: "preview",
            title: file.name
          }));
        };
      })(file);
      reader.readAsDataURL(file);
    });
  });
</script>