<li id="post-<%= post.id %>">
  <% if @user.avatar? %>
    <%= image_tag(@user.avatar, size: "200x200", class: "avatar_present_img rounded-circle z-depth-0 avatar-image", alt: "avatar image") %>
  <% else %>
    <%= image_tag("no-avatar.png", size: "200x200", class: "avatar_present_img rounded-circle z-depth-0 avatar-image", alt: "avatar image") %>
  <% end %>      
  
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>