<% provide :title, "投稿" %>

<div class="container pt-2 mt-4 mb-5">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <%= render "post_data" %>

      <div class="float-right mt-1">
        <span id="like_btn_<%= @post.id %>">
          <%= render "likes/like_button", post: @post %> 
        </span>
        <span id="favorite_btn_<%= @post.id %>">
          <%= render "favorites/favorite_button", post: @post %>
        </span>
        <span>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <%= link_to "削除", @post, method: :delete, data: { confirm: "削除しますか?" }, class:'btn btn-outline-dark' %>
          <% end %>
        <% end %>
        </span>
      </div>

      <div class="post-data mt-3">
        <div class="location">
          【撮影地】：<%= @post.location %>
        </div>
        <div class="equipment mt-2">
          【カメラ・レンズ等】：<%= @post.equipment %>
        </div>
        <div class="caption mt-2">
          【写真の説明】：<%= @post.caption %>
        </div>
      </div>

      <div class="comment-area mb-5">
        <% if logged_in? %>
          <%= render "comments/form" %>
        <% end %>
      
        <p class="comment-title border-bottom border-dark mt-3">コメント一覧<span class="float-right">コメント<%= @post.comments.count %>件</span></p>
        <div class="comment-data mt-4">
          <% @comments.each do |comment| %>
            <div class="mt-4">
              <% if comment.user.avatar? %>
                <%= image_tag(comment.user.avatar.to_s, size: '60x60',
                              class: 'rounded-circle z-depth-0 avatar-image', alt: 'avatar image') %>
              <% else %>
                <%= image_tag("no-avatar.png", size: "60x60",
                              class: "rounded-circle z-depth-0 avatar-image", alt: "avatar image") %>
              <% end %>
              <span><%= link_to comment.user.name, user_path(comment.user), class:"user-name" %></span>
              <span class="ml-3"><%= comment.comment %></span>
            </div>   
            <div class="float-right">
              <small><%= time_ago_in_words(comment.created_at) %>前</small>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
