<% provide :title, "投稿" %>

<div class="container pt-4 pb-3">
  <div class="row">
    <div class="col-md-6">
      <%= render "post_data" %>

      <span>いいね！<%= @post.likes.count %>件</span>
      <span>コメント<%= @post.comments.count %>件</span>

      <div>
        <% if logged_in? %>
          <% if current_user.already_liked?(@post) %>
            <%= button_to "いいねを取り消す", post_like_path(@post), method: :delete %>
          <% else %>
            <%= button_to "いいね", post_likes_path(@post) %>
          <% end %>
        <% end %>
      </div>
  
      <% if logged_in? %>
        <%= render "comments/form" %>
      <% end %>

      <div class="comment_list"></div>
        <% @comments.each do |c| %>
          <% if c.user.avatar %>
            <%= image_tag(c.user.avatar.url, size: '100x100',
                          class: 'avatar_present_img rounded-circle z-depth-0 avatar-image', alt: 'avatar image') %>
          <% else %>
            <%= image_tag("no-avatar.png", size: "100x100",
                          class: "avatar_present_img rounded-circle z-depth-0 avatar-image", alt: "avatar image") %>
          <% end %>
          <div>      
            <%= link_to c.user.name, user_path(c.user) %><span class="text-muted">posted at <%= c.created_at %></span>
          </div>
          <div>
            <%= c.comment %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>