<% provide :title, "投稿" %>

<div class="container pt-4 pb-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= render "post_data" %>
      <div class="float-right">
        <% if logged_in? %>
          <% if current_user.already_liked?(@post) %>
            <%= link_to post_like_path(post_id: @post.id), method: :delete, remote: true, class:'btn btn-outline-dark' do %>
              <i class="fas fa-heart"></i><%=" いいね済" %>
            <% end %>
          <% else %>
            <%= link_to post_likes_path(post_id: @post.id), method: :post, remote: true, class:'btn btn-outline-dark' do %>
              <i class="far fa-heart"></i><%=" いいね！" %>
            <% end %>
          <% end %>
        <% end %>
    
        <% if logged_in? %>
          <% if current_user.already_made_favorite?(@post) %>
            <%= link_to post_favorite_path(post_id: @post.id), method: :delete, remote: true, class:'btn btn-outline-dark' do %>
              <i class="fas fa-bookmark"></i><%=" 保存済み" %>
            <% end %>
          <% else %>
            <%= link_to post_favorites_path(post_id: @post.id), method: :post, remote: true, class:'btn btn-outline-dark' do %>
              <i class="far fa-bookmark"></i><%=" 保存する" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div>
      <% if logged_in? %>
        <%= render "comments/form" %>
      <% end %>
      </div>
      
      <div class="comment-list mt-5">
        <p class="comment-title border-bottom border-dark mt-5">コメント一覧<span class="float-right">コメント<%= @post.comments.count %>件</span></p>
        <div class="comment-data mt-4">
          <% @comments.each do |c| %>
            <div class="mt-4">
              <% if c.user.avatar %>
                <%= image_tag(c.user.avatar.url, size: '60x60',
                              class: 'avatar_present_img rounded-circle z-depth-0 avatar-image', alt: 'avatar image') %>
              <% else %>
                <%= image_tag("no-avatar.png", size: "60x60",
                              class: "avatar_present_img rounded-circle z-depth-0 avatar-image", alt: "avatar image") %>
              <% end %>
              <span><%= link_to c.user.name, user_path(c.user), class:"user-name" %></span>
              <span class="ml-3"><%= c.comment %></span>
              <span class="float-right pt-3">
                <% if logged_in? %>
                  <% if current_user.comment_liked?(c) %>
                    <%= link_to comment_comment_like_path(comment_id: c.id), method: :delete, remote: true, class:'btn btn-outline-dark btn-sm' do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= link_to comment_comment_likes_path(comment_id: c.id), method: :post, remote: true, class:'btn btn-outline-dark btn-sm' do %>
                      <i class="far fa-heart"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </span>
            </div>   
            <div class="float-right">
              <small><%= time_ago_in_words(c.created_at) %>前</small>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
