<% provide :title, "投稿" %>

<div class="container pt-4 pb-3">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= render "post_data" %>

      <span>いいね！<%= @post.likes.count %>件</span>
      <span>コメント<%= @post.comments.count %>件</span>

      <% if logged_in? %>
        <% if current_user.already_liked?(@post) %>
          <%= link_to post_like_path(post_id: @post.id), method: :delete, remote: true, class:'btn btn-outline-dark' do %>
            <i class="fas fa-heart"></i><%=" いいね済" %>
          <% end %>
        <% else %>
          <%= link_to post_likes_path(post_id: @post.id), method: :post, remote: true, class:'btn btn-outline-dark' do %>
            <i class="far fa-heart"></i><%=" いいね！" %>
          <% end %>
        <% end %>
      <% end %>

      <% if logged_in? %>
        <% if current_user.already_made_favorite?(@post) %>
          <%= link_to post_favorite_path(post_id: @post.id), method: :delete, remote: true, class:'btn btn-outline-dark' do %>
            <i class="fas fa-bookmark"></i><%=" 保存済み" %>
          <% end %>
        <% else %>
          <%= link_to post_favorites_path(post_id: @post.id), method: :post, remote: true, class:'btn btn-outline-dark' do %>
            <i class="far fa-bookmark"></i><%=" 保存する" %>
          <% end %>
        <% end %>
      <% end %>
  
      <% if logged_in? %>
        <%= render "comments/form" %>
      <% end %>

      <div class="comment_list"></div>
        <% @comments.each do |c| %>
          <% if c.user.avatar %>
            <%= image_tag(c.user.avatar.url, size: '100x100',
                          class: 'avatar_present_img rounded-circle z-depth-0 avatar-image', alt: 'avatar image') %>
          <% else %>
            <%= image_tag("no-avatar.png", size: "100x100",
                          class: "avatar_present_img rounded-circle z-depth-0 avatar-image", alt: "avatar image") %>
          <% end %>
          <div>      
            <%= link_to c.user.name, user_path(c.user) %><span class="text-muted">posted at <%= c.created_at %></span>
          </div>
          <div>
            <%= c.comment %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>