<header class="navbar navbar-dark bg-dark navbar-expand-lg">
  <%= link_to image_tag("logo.jpg", class: "navbar-logo"), root_path, class: "navbar-brand" %>
    
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <% if logged_in? && current_user.admin? %>
        <li class="nav-item">
          <%= link_to "ユーザー一覧", "#", class: "nav-link" %>
        </li>
      <% end %>
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "タイムライン", timeline_posts_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "人気", popular_posts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "新着", posts_path, class: "nav-link" %>
      </li>
    </ul>
      
    <ul class="navbar-nav">
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "新規投稿", new_post_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to "メニュー", "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", role: "button", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"} %>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "マイページ", current_user, class: "dropdown-item" %>
            <%= link_to "設定", edit_user_path(current_user), class: "dropdown-item" %>
            <%= link_to "ログアウト", logout_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "新規登録", signup_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", login_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</header>